.content_sign_in{
    height: 100vh;
}

.content_sign_in .right_content{
    background-color: #14238A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_content .sign_in_wrapper{
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 62px 32px;    
}

.sign_in_wrapper .form_sign_in{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_sign_in .sign_in_input{
    height: 64px;
}

.form_sign_in .button_sign_in{
    height : 64px;
    width: 100%;
    font-size: 22px;
    
}
