.label_input{
    font-size: 16px;
    font-weight: 500;
}

.profile_title{
    margin-bottom: 12px;
}

.input_update_profile {
    margin-top: 10px;
    height: 36px;
}

.input_update_profile_wrapper{
    flex-direction: column;
}

.profile_update_form_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button_log_out{
    min-width: 100px;
    background-color: grey;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.button_update{
    min-width: 100px;
    background-color: #D60A0B;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;

}